/* CSS Document */
#topbar{ width:100%; height:32px; background:#ece7e3; border-bottom: 1px solid #e4dfda;}
#topbar .topbar{ width:1200px; margin:0 auto;height:32px; line-height:32px;}
#topbar .topbar .user_login{ width:250px; height:32px;}
#topbar .topbar .user_login a{ margin-left:5px;}
#topbar .topbar .user_login i{ padding-left:5px;}
#topbar .topbar .user_login a:last-child{ font-weight:bold;}
#topbar .topbar .user_login span{ color:#c53f4c}
#topbar .topbar .quick_menu{ width:500px; height:32px;}
#topbar .topbar .quick_menu li{ padding-right:10px;float:left; position:relative;}
#topbar .topbar .quick_menu li i{ font-size:12px; margin-left:8px;}
#topbar .topbar .quick_menu li em{ margin-right:8px;color:#c53f4c;}
#topbar .topbar .quick_menu li:nth-child(2){font-weight:bold;}
#topbar .topbar .quick_menu li:last-child{font-weight:bold;}
#topbar .topbar .quick_menu a:hover{ color:#c53f4c;}
#topbar .topbar .quick_menu li .submenu{ border:1px solid #e4dfda; width:120px;left:-12px;position:absolute; top:32px; left:-12px; border-top:0 none; box-sizing:border-box; display:none; background:#fff; z-index:100}
#topbar .topbar .quick_menu li:hover .submenu{ display:block;box-shadow: 0 6px 12px rgba(0,0,0,0.3);}
#topbar .topbar .quick_menu li .submenu a{width:100%; display:block; text-align:center; line-height:24px; margin-bottom:6px; margin-top:7px;}
#topbar .topbar .quick_menu li .submenu a:hover{text-decoration:none;  color:#fff; background:#c53f4c;box-shadow:0 6px 10px rgba(0,0,0,0.3);}

#topbar .topbar .quick_menu li .submenu i{ width:10px; height:10px; background:#fff; position:absolute;top:-5px;left:30%; -ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);}

#topbar .topbar .quick_menu li ul{ background:#fff; width:300px; position:absolute; top:30px; left:-12px;border:1px solid #e4dfda;border-top:0 none;box-sizing:border-box; z-index:100; display:none}
#topbar .topbar .quick_menu li:hover ul{ display:block;box-shadow: 0 6px 12px rgba(0,0,0,0.3);}
#topbar .topbar .quick_menu li ul span{width:10px; height:10px; background:#fff; position:absolute;top:-5px;left:12%; -ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg)}
#topbar .topbar .quick_menu li ul .app-top i:last-child{color:red;}
#topbar .topbar .quick_menu li ul .app-center{ width:289px; height:120px; background:#f1eeed;z-index:100}
#topbar .topbar .quick_menu li ul .app-center dt{ float:left; width:110px; height:110px; margin:5px 10px 0px 7px;}
#topbar .topbar .quick_menu li ul .app-center dd h2{ color:#73584a;}
#topbar .topbar .quick_menu li ul .app-center dd img{ margin-bottom:5px;}

#topbar .topbar .quick_menu li ul .app-bottom a{ font-weight:normal; margin-left:10px; color:#06C; text-decoration:none;}

/*header*/
#header{ width:100%; height:100px; background:#f1eeed;}
#header .header{ width:1200px; height:100%; margin:0 auto;}
#header .header .head-logo{ width:200px; height:100px; float:left; display:block; background:url(../images/logo2.png) no-repeat left center;}
#header .header .reg-gift{ width:163px; height:100px; float:left; display:block; background:url(../images/logo.png) no-repeat left center;}
#header .header .head-right{width:660px; height:70px; padding-top:26px; position:relative}
#header .header .head-right .head-search{ width:472px; height:70px;}

#header .header .head-right .head-search .search-left{ width:460px; height:35px; background:#ed1c24; overflow:hidden;}
#header .header .head-right .head-search .search-left input{ display:inline-block; width:380px; height:33px; border:0 none; margin-top:1px; margin-left:1px; padding-left:8px;}
#header .header .head-right .head-search .search-left button{ background:0; border:0; font-size:16px; color:#fff; width:60px; text-align:center;cursor:pointer;}


#header .header .head-right .head-search p a{ margin-right:10px;}
#header .header .head-right .head-search p a:hover{color:#c53f4c;}

#header .header .head-right .shopcart{width:123px; height:34px; margin-right:20px; border:1px solid #bda99a; background: linear-gradient(to bottom,#b9a091,#a48471); color:#fff; text-align:center; line-height:35px; font-size:14px; cursor:pointer;}
#header .header .head-right .shopcart span{ margin:0 10px 0 12px;}
#header .header .head-right .shopcart a{ text-decoration:none; color:#f1eeed;}
#header .header .head-right .shopcart:hover{ background:#94735f;box-shadow: 1px 1px 2px #999;}
#header .header .head-right .shopcart .shopcart-list{ width:320px; background:#fff; position:absolute;top:62px; right:20px;border: 1px solid #c0aa9d;box-shadow: 1px 1px 2px #999; display:none; z-index:1000;}
#header .header .head-right .shopcart:hover .shopcart-list{ display:block}
#header .header .head-right .shopcart .shopcart-list p{ padding:10px 0; text-align:center; color:#333; font-size:14px; line-height:30px;letter-spacing:1px;}
#header .header .head-right .shopcart .shopcart-list a{ color:#c53f4c; font-weight:600; margin:0 2px; }
#header .header .head-right .shopcart .shopcart-list a:hover{text-decoration:underline}
/*header end*/

/*nav*/
#nav{ width:100%; height:36px; background:#7e0001;}
#nav .nav{ width:1200px; height:36px; margin:0 auto; position:relative/*参照*/}

#nav .nav .navlinks{ height:35px; width:1000px; margin-left:200px;}
#nav .nav .navlinks li{float:left; padding:8px 0; height:19px; line-height:19px;}
#nav .nav .navlinks li a{ float:left; padding:0 30px; height:19px; line-height:19px; color:#ede8e6; text-decoration:none;/*border-right:1px solid #a01705; border-left:1px solid #a02c2c; */font-size:14px}
#nav .nav .navlinks .on{ background-color:#58322c}
#nav .nav .navlinks li:nth-child(6){ position:relative}
#nav .nav .navlinks li:nth-child(6) span{ width:23px; height:11px; position:absolute;top:2px; right:2px; background:url(../images/hot.png) no-repeat;}
#nav .nav .navlinks li:hover{background-color:#58322c; border:0 none}

/*nav-left*/
#nav .nav .nav-left{ width:200px; position:absolute; top:0; left:0;z-index:1000;}
#nav .nav .nav-left h3{ width:200px; height:36px; background:#624b40; }
#nav .nav .nav-left h3 a{ color:#ece7e5; letter-spacing:5px; padding:8px 10px; font-size:16px; line-height:35px; text-decoration:none; font-weight:bold}
#nav .nav .nav-left h3:hover{ background:#4a3931;}
#nav .nav .nav-left a i{margin-right:8px; font-size:10px; color:#9c8f83}

#nav .nav .nav-left .leftgroup{ width:200px; height:500px; background:#73584a; display:none;}
#nav .nav .nav-left:hover .leftgroup{ display:block}
#nav .nav .nav-left .leftgroup dl{ position:relative/*参照*/;}
#nav .nav .nav-left .leftgroup dl dt{ padding:3px 10px; height:auto;border-bottom: solid 1px #d4d4d4;}
#nav .nav .nav-left .leftgroup dl dt h4{ width:190px; height:20px; line-height:20px; font-size:14px; font-weight:bold;}
#nav .nav .nav-left .leftgroup dl dt h4 a{color:#ede8e6;}
#nav .nav .nav-left .leftgroup dl dt a i{ float:right; font-size:16px;}
#nav .nav .nav-left .leftgroup dl dt a:hover{ color:#ede8e6; cursor:pointer}

#nav .nav .nav-left .leftgroup dl dt p{ line-height:24px;}
#nav .nav .nav-left .leftgroup dl dt p a{ display:inline-block; margin:3px 8px 3px 0; line-height:18px;color:#b8a199;white-space: nowrap;/*规定文本不换行*/}
/*nav-left end*/

/*二级菜单*/

#nav .nav .nav-left .leftgroup dl dd{background:#73584a; box-shadow:0 6px 12px #999; position:absolute; top:-1px; left:200px; display:inline; width:520px; display:none;animation-duration: 1s;animation-delay: 0.2s;animation-timing-function: ease;animation-fill-mode: both;-moz-animation-duration: 1s;-moz-animation-delay: 0.2s;-moz-animation-timing-function: ease;-moz-animation-fill-mode: both; -webkit-animation-duration: 1s; -webkit-animation-delay: 0.2s; -webkit-animation-timing-function: ease; -webkit-animation-fill-mode: both;-ms-animation-duration: 1s;-ms-animation-delay: 0.2s;-ms-animation-timing-function: ease;-ms-animation-fill-mode: both;-o-animation-duration: 1s;-o-animation-delay: .2s;-o-animation-timing-function: ease;-o-animation-fill-mode: both;}
#nav .nav .nav-left .leftgroup dl dd ul{ width:240px; height:100%;padding:0 10px;}
#nav .nav .nav-left .leftgroup dl dd ul li{ width:240px;font-size:14px;line-height:24px; padding:4px 0 10px;border-top: dotted 1px #81665c;}
#nav .nav .nav-left .leftgroup dl dd ul li:first-child{ border-top:0 none;}
#nav .nav .nav-left .leftgroup dl h5{ width:70px; float:left; }

#nav .nav .nav-left .leftgroup dl h5 a{font-size:14px; color:#ede8e6;margin-right:3px;}
#nav .nav .nav-left .leftgroup dl dd ul li p{ width:160px; margin-left:70px;}

#nav .nav .nav-left .leftgroup dl dd ul li p a{font-size:12px;color:#b8a199;/* padding-right:8px; */display:inline-block; white-space:nowrap; height:22px; line-height:22px;}

#nav .nav .nav-left .leftgroup .left_last dd{ margin-top:-330px;}

#nav .nav .nav-left .leftgroup dl:hover dd{display:block;animation-name: fadeInLeft;-moz-animation-name: fadeInLeft;-ms-animation-name: fadeInLeft;-o-animation-name: fadeInLeft;-webkit-animation-name: fadeInLeft;}
@keyframes fadeInLeft {
	0% { opacity:0; transform:translateX(-50px); }
	20% { opacity:0.5; transform:translateX(0); }
	100% { opacity:1; transform:translateX(0); }
}

p.w50 a{ width:50px;}
p.w53 a{ width:53px;}
p.w55 a{ width:55px;}
p.w60 a{ width:60px;}
p.w63 a{ width:63px;}
p.w70 a{ width:70px;}
p.w75 a{ width:75px;}
p.w80 a{ width:80px;}

/*二级菜单 end*/
/*nav end*/

#section{ width:1190px;}

.crumb{ height:30px; line-height:30px;}
.crumb h4{ font-size:14px;}
.crumb h4 a:hover{ color:#970000; text-decoration:none;}
.crumb h4 span{ margin-left:10px; margin-right:10px;}


/*aside*/
.aside{ width:200px; float:left; display:block;}
.aside h4{ font-size:15px; padding-left:20px; height:40px; line-height:40px; background:#e8e3dd; font-weight:600; letter-spacing:2px; color:#000}

/*所有分类*/
.aside .aside-type{ width:100%;margin-bottom:20px; border:1px solid #e6e1db;}
.aside .aside-type .type-mode{}
.aside .aside-type .type-mode .mod-name{ font-size:14px; color:#333; height:16px; line-height:16px; padding:12px; cursor:pointer; background:#fbfaf9; border-bottom:1px solid #e6e1db;}
.aside .aside-type .type-mode .mod-name span{ background:url(../images/icons.png) 0 -216px no-repeat; width:16px; height:16px; float:left; margin-right:10px;}
.aside .aside-type .type-mode .mod-name a:hover{ color:#970000;}

.aside .aside-type .type-mode .hid{ padding:5px 0; font-size:14px; display:none; background-color:#fff;}
.aside .aside-type .type-mode .hid li{ color:#666; line-height:30px; padding-left:40px; cursor:pointer;}
.aside .aside-type .type-mode .hid li:hover{ background:#CCC;color:#970000;}

/*所有分类 end*/

/*一周销量排行*/
.aside .aside-topboard{ width:100%;background-color: #f4f4f0;margin-bottom:20px;}

.aside .aside-topboard li{ position:relative;border-top: solid 1px #ddd; padding:10px 10px 10px 35px; height:20px; line-height:20px;}
.aside .aside-topboard li em{position: absolute;top: 12px;left: 5px;z-index: 200;display: block;
padding-right: 4px;width: 20px;height: 20px;background-position: -85px -70px;color: #5b473b;text-align: center;
font-weight: bold;font-style: normal;font-size: 14px;font-family: Arial;line-height: 20px;background: url(../images/sprite.png) no-repeat}
.aside .aside-topboard li .prod-name{color: #5b473d; display:block}


.aside .aside-topboard li.on{ height:110px; padding-left:95px;}
.aside .aside-topboard li.on em{background-position: -60px -70px; color:#fff;}
.aside .aside-topboard li.on .prod-img{ position:absolute; top:10px; left:5px; display:block; padding:6px 10px; width:60px; height:98px; background-color:#fff;}
.aside .aside-topboard li.on .prod-img img{ width:60px; height:98px; display:block;}
.aside .aside-topboard li.on .prod-name{ height:40px; overflow:hidden; }

.aside .aside-topboard li.on .prod-soldnum{ margin-top:10px; display:block; color:#999;}

.aside .aside-topboard li.on .prod-soldnum strong{color: #5b473d; font-weight:normal; margin-left:5px;}

.aside .aside-topboard li.on .prod-pice{ color:#c53f4c; margin-top:10px; display:block; font-weight:bold;}
.aside .aside-topboard li.on .prod-pice strong{ margin-left:5px; font-size:20px; font-family: Georgia;}

.aside .aside-topboard li.item{display:block; padding-left:40px; height:20px; overflow:hidden;}
.aside .aside-topboard li.item em{ background:url(../images/sprite.png) -84px -70px no-repeat;}
.aside .aside-topboard li.item .prod-img{display:none}
.aside .aside-topboard li.item  span{display:none}

.aside .aside-topboard li.item .prod-name{ height:20px; overflow:hidden;}
/*一周销量排行 end*/

/*为你推荐*/
.aside .aside-castle{ width:100%; margin-bottom:20px; border:1px solid #e6e1db}
.aside .aside-castle li{ margin:5px 10px; padding:5px 0; border-bottom:1px dashed #cbc1b8}
.aside .aside-castle li a:hover{ text-decoration:none;}
.aside .aside-castle li .p_img{ margin:0 auto; width:60px; height:98px; display:block;}
.aside .aside-castle li .p_name{ display:block; color:#333; line-height:25px; text-align:left;}
.aside .aside-castle li .p_name span{ display:block; color:#666;}
.aside .aside-castle li .pirce{ display:block; color:#aa1f04; text-align:center; line-height:25px;}
.aside .aside-castle li .pirce strong{ margin:0 10px 0 2px; font-weight:600; font-size:16px; font-family:Georgia, "Times New Roman", Times, serif;}
.aside .aside-castle li:last-child{ border-bottom:0;}
/*为你推荐 end*/

/*aside end*/

/*main*/
.main{ margin-left:215px; display:block;position: relative;/*参照*/ width:990px;}
.main a:hover{ text-decoration:none;}

/*价格选择*/
.main .selector{border: solid 1px #E6E1DB;background-color: #FBFAF9;overflow: hidden;}
.main .selector ._cost{ background:#fff; overflow:hidden; clear:both; width:100%; height:40px;}
.main .selector dl{ margin:0 20px; line-height:32px; padding:4px 0; overflow:hidden;}

.main .selector dd{ margin-left:65px; display:block; position:relative;/*参照*/}


.main .selector ._cost .first{ display:block;}

.main .selector ._cost .first dt{ width:60px; float:left; color:#333; text-align:right;}
.main .selector ._cost .first dd a span{ margin-left:14px; padding:0 4px}
.main .selector ._cost .first dd .on{ background:#C63F4E; color:#fff; padding:0 4px;}
.main .selector ._cost .first dd a span:hover{ background:#C63F4E; color:#fff;}

.main .selector ._cost .first dd .custom-price{ position:absolute; right:0; top:4px;}
.main .selector ._cost .first dd .custom-price .txt-input{ float:left; width:35px; height:22px; margin:0 2px;padding:0 2px;line-height: 14px;}
.main .selector ._cost .first dd .custom-price em{ line-height:24px; float:left; font-weight:normal; margin:0 2px;}

.main .selector ._cost .first dd .custom-price button{ width:40px; height:25px; float:left; margin-left:5px; cursor:pointer;}

/*价格选择 end*/

/*商品导航条*/
.main .goods-tab{ height:39px; margin-top:10px;}
.main .goods-tab ul{ height:39px; float:left;}
.main .goods-tab li{ width:100px; height:39px; float:left; margin-right:5px;position:relative;/*参照*/background:url(../images/btn.png) 0 -40px no-repeat}
.main .goods-tab li a{ display:block; float:left; width:100px; height:39px; line-height:38px; text-align:center; font-size:14px; color:#444; border:1px solid #CBC1B8;border-bottom: none}

.main .goods-tab li.on{background:url(../images/btn.png)no-repeat}
.main .goods-tab li.on a{ color:#fff; font-size:16px; font-weight:600;}

.main .goods-tab .goods-page-min{ float:right; padding:0 15px; height:30px; line-height:30px;}
.main .goods-tab .goods-page-min span{ float:left; color:#555; margin-right:10px;}
.main .goods-tab .goods-page-min label{ float:left; color:#333; margin-right:10px;}

.main .goods-tab .goods-page-min a{ width:28px; height:28px; line-height:28px; border:1px solid #aa998a; float:left; background-color:#fff; margin-left:5px;}

.main .goods-tab .goods-page-min a.prev{background:url(../images/icons.png) 6px -118px no-repeat;}
.main .goods-tab .goods-page-min a.next{background:url(../images/icons.png) 8px -94px no-repeat; background-color:#F7F5F2}


.main .goods-nav{background-color:#fff;border: solid 1px #DDDBD2;border-top: solid 2px #C63F4E;padding: 15px 0;float: left; width:100%}
.main .goods-nav ul.first{ height:28px; float:left; margin-left:10px; display:inline}
.main .goods-nav ul.first li{ float:left; display:block; margin-right:5px; height:28px;}

.main .goods-nav ul.first{ overflow:hidden; clear:both;}
.main .goods-nav ul.first li a{ width:auto; height:26px; line-height:26px; text-align:center; display:block; padding:0 18px 0 16px;border: 1px solid #E6E1DB;}
.main .goods-nav ul.first li a:hover{background: #c63f4e; border-color:#c63f4e;color:#fff;}
.main .goods-nav ul.first .on a{background: #c63f4e; border-color:#c63f4e; color:#fff;}


.main .goods-nav ul.pageview{ float:right;height:32px; margin:0 13px 0 0;}
.main .goods-nav ul.pageview li{ width:60px; height:32px; margin:0; float:left}
.main .goods-nav ul.pageview li a{width: 45px; height:32px; line-height:32px; text-align:left; padding-left:15px; text-indent:10px; display:block; background:url(../images/bg_nav_view.png) 0 -84px no-repeat;}
.main .goods-nav ul.pageview li a.viem_2{background:url(../images/bg_nav_view.png) -60px -84px no-repeat;}
.main .goods-nav ul.pageview li a:hover{ background:url(../images/bg_nav_view.png) -60px -116px no-repeat; color:#c63f4e}

.main .goods-nav ul.pageview li.on a{color: #C63F4E;background-position: left -148px}


.main .goods-nav .goods-areaselector{ float:right; height:32px; line-height:32px; width:72px; padding-left:8px; cursor:pointer; background:url(../images/bg_nav_view.png) 0 -180px no-repeat; margin-right:10px; position: relative;/*参照*/}

.main .goods-nav .goods-areaselector:hover .sel-areas{ display:block;}

.main .goods-nav .goods-areaselector .sel-areas{ width:285px; background-color:#fff;border: solid 1px #AA998A; position:absolute; top:32px; right:0; display:none; z-index:100;}
.main .goods-nav .goods-areaselector .sel-areas dd{ height:18px; margin-left:10px; margin-right:10px;line-height:18px; padding:7px 0;border-top: dotted 1px #CBC1B8}
.main .goods-nav .goods-areaselector .sel-areas dd:first-child{ border-top:0;}
.main .goods-nav .goods-areaselector .sel-areas dd a{ margin:0 8px; padding:0 2px;display: inline-block; float:left; line-height:18px;}
.main .goods-nav .goods-areaselector .sel-areas dd a:hover{background-color: #C63F4E; color:#fff;}
a.red{color: #C53F4C;}


.main .goods-nav .goods-source{ float:right; margin-right:10px; line-height:28px;}
.main .goods-nav .goods-source label{ margin-right:5px; cursor:pointer;}
.main .goods-nav .goods-source label em{ width:16px; height:16px; display:inline-block; background:url(../images/icons.png) 0 -280px no-repeat;vertical-align: middle;}

/*商品导航条 end*/

/* 商品列表 */

.main .goods-list{ float:left;position: relative;/*参照*/ margin-top:20px; width:1000px; margin-bottom:80px;}

.main .goods-list ul li{ width:190px; height:450px;margin-bottom:10px; position:relative/*参照*/}
.main .goods-list ul li dl{border: 3px solid #DDDBD2;}
.main .goods-list ul li:hover dl{border-color:#C63F4E}

.main .goods-list ul.piclist{ display:block; clear:both;}
.main .goods-list ul.piclist li{float: left;margin-right: 10px;width: 190px;height: 450px;}

.main .goods-list ul.piclist dt{ height:236px;position:relative/*参照*/}
.main .goods-list ul.piclist dt .pimg{ width:110px; height:180px; display:block; margin:0 auto; padding-top:20px;}
.main .goods-list ul.piclist dt .pimg img{ width:110px; height:180px; display:block;}

.main .goods-list ul.piclist dt span.icon-direct{ width:27px; height:36px; position:absolute; right:10px; bottom:60; background:url(../images/new-icon.png) -268px -54px no-repeat;}

.main .goods-list ul.piclist dd.base{ background-color:#F8F8F5; padding:10px 8px;}
.main .goods-list ul.piclist dd.base a.pname{ height:60px; font-size:14px; color:#333; line-height:20px; margin-bottom:20px; display:block;overflow: hidden;}
.main .goods-list ul.piclist dd.base a.pname span{ display:block; font-size:12px; color:#444; height:20px; overflow:hidden;}
.main .goods-list ul.piclist dd.base a.pname span.promo{color: #B7262B;}
.main .goods-list ul.piclist dd.base a.price{ height:32px; line-height:32px; overflow:hidden; font-family:Arial, Helvetica, sans-serif;}
.main .goods-list ul.piclist dd.base a.price .minprice{font-size: 14px;float: left;}
.main .goods-list ul.piclist dd.action{text-align: center;background-color: #FAFAFA;display: block;}
.main .goods-list ul.piclist dd.action p{ padding:8px 0;}
.main .goods-list ul.piclist dd.action p .btn-style{ margin:0 auto; width:170px; height:26px; line-height:26px; background:#dd3939; text-align:center; display:block; color:#fff}


.main .goods-list ul.piclist dd.sum{ height:44px;border-top: solid 1px #EFEFEF;; color:#666;}

.main .goods-list ul.piclist dd.sum span{ height:36px; line-height:18px; padding:4px 0; display:block; float:left; text-align:center;}
.main .goods-list ul.piclist dd.sum span strong{ display:block; font-weight:normal;}

.main .goods-list ul.piclist dd.sum .hp{width:60px;border-right: 1px solid #EFEFEF;}
.main .goods-list ul.piclist dd.sum .pl{ width:58px;border-right: 1px solid #EFEFEF;}
.main .goods-list ul.piclist dd.sum .sc{width:62px;}

/* 商品列表 end */

/*页码*/
.main .n_page{ text-align:center;}

.main .n_page a{ display:inline-block;height:32px; line-height:32px; font-size:14px;border: solid 1px #AA998A;background-color: #f7f5f2; margin:0 5px; color:#333; padding:0 12px;}
.main .n_page a.on{background-color: #C6404F;border-color: #C63F4E; color:#fff;}

.main .n_page a.prev{ padding-left:24px; background:#f7f5f2 url(../images/icons.png) 8px -116px no-repeat;}
.main .n_page a.next{padding-right:24px;background:#f7f5f2 url(../images/icons.png) right -92px no-repeat;}




/*页码 end*/
/*main end*/




/*footer*/
#footer{ width:100%; float:left;}

.footer .foot-main{ background:#e8e8e8;position: static; z-index:auto;}


.footer .foot-main .foot-col{ margin:0 auto; width:1200px;}

.foot-main .foot-col1{ width:369px; height:375px;border-left: 1px solid #dcd7cf; padding:25px 0 0 30px; float:left;}

.foot-main .foot-col1 h2{ font-size:14px; font-weight:bold; color:#ba102e; margin-bottom:25px;}
.foot-main .foot-col1 a{ display:block; margin-bottom:20px; padding-left:50px; height:38px;}
.foot-main .foot-col1 a h3{ font-size:14px; display:block;color: #666;}
.foot-main .foot-col1 a:hover{ text-decoration:none;}
.foot-main .foot-col1 a span{ font-size:10px; line-height:18px; color:#999;}
.foot-main .foot-col1 a:hover span{ color:#999;}

.foot-main .foot-col1 a.zp{ background:url(../images/icon3.png) -109px 0 no-repeat;}
.foot-main .foot-col1 a.th{ background:url(../images/icon3.png) -109px -38px no-repeat;}
.foot-main .foot-col1 a.hw{ background:url(../images/icon3.png) -109px -76px no-repeat;}
.foot-main .foot-col1 a.free{ background:url(../images/icon3.png) -109px -114px no-repeat;}
.foot-main .foot-col1 a.mf{ background:url(../images/icon3.png) -109px -152px no-repeat;}



.foot-main .foot-col2{width:369px; height:375px;border-left: 1px solid #dcd7cf;border-right: 1px solid #dcd7cf;padding:25px 0 0 30px; float:left;}
.foot-main .foot-col2 h2{ font-size:14px; font-weight:bold; color:#ba102e; margin-bottom:25px;}

.foot-main .foot-col2 .foot-ul{ width:360px; margin:0;}
.foot-main .foot-col2 .foot-ul li{ padding:0; width:120px; height:170px; float:left;color: #9d8e7f;}
.foot-main .foot-col2 .foot-ul li h3{ color:#333; font-weight:bold}
.foot-main .foot-col2 .foot-ul li p{ line-height:20px;}
.foot-main .foot-col2 .foot-ul li p a{ color:#666; display:block;}
.foot-main .foot-col2 .foot-ul li a:hover{ text-decoration:none;}




.foot-main .foot-col3{height:375px; width:350px;border-right: 1px solid #dcd7cf;padding:25px 0 0 30px; float:left;}
.foot-main .foot-col3 h2{font-size:14px; font-weight:bold; color:#ba102e; margin-bottom:25px;}


.foot-main .foot-col3 .mobile h3{ color:#666; line-height:30px; font-weight:bold;}
.foot-main .foot-col3 .mobile a{ width:105px; height:30px; float:left; margin-right:15px;}
.foot-main .foot-col3 .mobile a.app{ background:url(../images/icon3.png) 0 0 no-repeat;}
.foot-main .foot-col3 .mobile a.android{ background:url(../images/icon3.png) 0 -29px no-repeat;}


.foot-main .foot-col3 .code{ margin-top:20px;}
.foot-main .foot-col3 .code i{ background:url(../images/icon3.png) 0 -200px no-repeat; width:100px; height:100px; float:left;margin-right: 10px;}
.foot-main .foot-col3 .code span h3{ color:#333; font-weight:bold;}
.foot-main .foot-col3 .code span p{ color:#666}


.foot-main .foot-col3 .sns{ width:210px; height:45px;float:left; margin-top:25px}

.foot-main .foot-col3 .sns a.sina{ width:45px; height:45px; float:left; background:url(../images/icon3.png) 0 -104px no-repeat;}
.foot-main .foot-col3 .sns ._sns{ width:70px; height:45px;float:left; padding-left:10px; font-size:14px; line-height:22px; color:#666;}
.foot-main .foot-col3 .sns ._sns p{ margin-bottom:2px;}
.foot-main .foot-col3 .sns ._sns a.s_add{ width:58px; height:18px; border-radius:5px; line-height:16px;border: 1px solid #dfe1e2;text-align: center; text-decoration:none; display:block; background:#fff; font-size:12px; padding:2px; margin-left:-2px;}
.foot-main .foot-col3 .sns ._sns a:hover{color:#666;}


/*foot-nav*/
.foot-nav{ height:40px; line-height:40px; text-align:center;color: #867666;background-color: #f8f8f5;}
.foot-nav span{ margin:0 10px;}
.foot-nav a:hover{color: #867666;}
/*foot-nav end*/



/*foot-license*/
.foot-license{padding: 5px 0;color: #999;text-align: center;line-height: 20px;}
.foot-license span{display: inline-block;height: 20px;}
.foot-license span.top110{}
.foot-license span.year18{}
.foot-license span.shzxw{}
.foot-license span.shgs{}

.foot-license a:hover{ color:#666;}
/*foot-license end*/

/*foot-copy*/
.foot-copy{ line-height:30px; color:#999; text-align:center;}
.foot-copy a:hover{ color:#666;}

/*foot-copy end*/

/* footer end*/

/*侧边栏*/

.ibar{ width:34px; height:100%; z-index:1000; background:#7e0001;position: fixed; right:0; top:0; display:block; font-size:12px;}

.ibar_mp_center{ position:absolute; top:0; right:0; width:34px; height:100%; color:#fff;font-family: "Microsoft Yahei","微软雅黑","宋体";}

.ym-nBar-tab{ width:20px; height:auto; padding:7px; position:absolute; display:block; cursor:pointer;}
.ym-nBar-tab:hover{ background:#000;}

.ym-nBar-tab a:hover{ text-decoration:none;}


.user-default, .cart-logo, .asset-logo, .charge-logo, .chat-logo, .valid-logo, .qrcode-logo, .backtop-logo{ width:20px; height:20px; background-image:url(../images/nBar_icon.png); background-repeat:no-repeat;}


.nBar-tab-user, .nBar-tab-asset, .nBar-tab-charge, .nBar-tab-chat, .nBar-tab-valid{border-bottom: 1px solid #8b1a1b}

.nBar-tab{ position:absolute; right:34px;box-shadow: 0 0 2px #ccc; z-index:1001;}
.nBar-tab .pop-icon{ position:absolute; right:-8px; top:10px; font-size:16px; height:16px; width:16px; line-height:16px; font-family:"宋体"; display:block; color:#ddd;}


.nBar-pop{ position:absolute; right:34px;box-shadow: 0 0 2px #ccc; z-index:1001; background:#fff; height:auto;}
.nBar-pop .pop-icon{ position:absolute; right:-8px;font-size:16px; height:16px; width:16px; line-height:16px;font-family:"宋体"; text-align:center; color:#fff;}

/*登录*/
.ibar_mp_center .nBar-tab-user{ top:230px;}

.ibar_mp_center .nBar-tab-user .user-default{ background-position:2px 0;}

.ibar_mp_center .nBar-tab-user .nBar-pop{ padding:0; top:5px;	 /*1*/display:none;}
.ibar_mp_center .nBar-tab-user:hover .nBar-pop{ display:block;}

.ibar_mp_center .nBar-tab-user .nBar-pop dl.box{ width:260px;color:#333;}

.ibar_mp_center .nBar-tab-user .nBar-pop dl.box dt{width: 62px;height: 62px;border-radius: 50%;overflow: hidden;margin:0 auto;}
.ibar_mp_center .nBar-tab-user .nBar-pop dl.box dd{ display:block; text-align:center; line-height:40px; font-size:14px}

.ibar_mp_center .nBar-tab-user .nBar-pop dl.box dd a{ font-weight:500; color:#C33;}



/*登录 end*/

/*购物车*/
.nBar-tab-cart{top:268px;border-bottom: 1px solid #8b1a1b}
.nBar-tab-cart .cart-logo{background-position:-20px 1px;}
.nBar-tab-cart .cart-txt{ text-align:center; font-size:1.2em; color:#fff;}
.nBar-tab-cart .cart-num{ width:20px; height:20px; text-align:center; display:block;background: #f46b0a; margin:9px 0;border-radius: 30px;-moz-border-radius: 30px;-webkit-border-radius: 30px;-o-border-radius: 30px; color:#fff;}
.nBar-tab-cart .cart-num:hover{ color:#fff;}


.nBar-tab-cart .cart-tip{ top:50%;	/*1*/display:none}
.nBar-tab-cart:hover .cart-tip{display:block}


.nBar-tab-cart .cart-tip .pop-icon{ top:50%; margin-top:-8px;}
.nBar-tab-cart .cart-tip .empty{ text-align:center; line-height:30px; font-size:14px; color:#666; padding:20px;}

.nBar-tab-cart .cart-tip .shopcart-list{ width:360px;}


/*购物车 end*/





/*资产*/
.nBar-tab-asset{top:400px;}
.nBar-tab-asset .asset-logo{background-position:-40px 0;}

.nBar-tab-asset .asset-tip{top:0; width:70px; height:20px; line-height:20px; color:#333; padding:7px 20px 7px 7px; background:#ddd;	/*3*/display:none}
.nBar-tab-asset:hover .asset-tip{display:block}

/* end*/



/*充值*/

.nBar-tab-charge{top:435px;}
.nBar-tab-charge .charge-logo{background-position:-60px 0;}

.nBar-tab-charge .charge-tip{top:0; width:70px; height:20px; line-height:20px; color:#333; padding:7px 20px 7px 7px; background:#ddd;	/*4*/display:none}
.nBar-tab-charge:hover .charge-tip{display:block}




/*end*/





/*意见反馈*/
.nBar-tab-chat{top:470px;}
.nBar-tab-chat .chat-logo{background-position:-160px 0;}
/* end*/



/*查询*/
.nBar-tab-valid{top:500px;}
.nBar-tab-valid .valid-logo{background-position:-140px 0;}

.nBar-tab-valid .nBar-pop{top:-150px; background:#fff;	/*5*/display:none}
.nBar-tab-valid:hover .nBar-pop{display:block}


.nBar-tab-valid .nBar-pop .pop-icon{ top:160px;}

.nBar-tab-valid .nBar-pop .valid-dl{margin-bottom: 10px;width:250px;height: auto;display: block;overflow: hidden;}
.nBar-tab-valid .nBar-pop .valid-dl dt{ width:64px; float:left;}
.nBar-tab-valid .nBar-pop .valid-dl dt img.resp{ width:64px; height:64px;}
.nBar-tab-valid .nBar-pop .valid-dl dd{ margin-left:70px; display:block; color:#333;}
.nBar-tab-valid .nBar-pop .valid-dl dd h2{ font-size:14px; background:none; font-weight:bold;}
.nBar-tab-valid .nBar-pop .valid-dl dd p{ font-size:12px; line-height:1.5em; color:#666;}

.nBar-tab-valid .nBar-pop .form-group{ padding-left:20px;padding-bottom:20px}
.nBar-tab-valid .nBar-pop .form-group #cnnCode{ background:url(../images/cnnCode.gif) no-repeat 10px center;}
.nBar-tab-valid .nBar-pop .form-group .form-txt{padding: 0 8px;border: 1px solid #ddd;width: 232px;color: #a9a9a9;height: 30px;
line-height: 30px;display: inline-block;}

.nBar-tab-valid .nBar-pop .dl_1{ padding:0 20px; padding-top:20px; }



.nBar-tab-valid .nBar-pop .form-group .form-group-code{width: 250px;overflow: hidden;height: 32px;line-height: 32px;}

.nBar-tab-valid .nBar-pop .form-group #valide{background:url(../images/validateCode.gif) no-repeat 10px center;}
.nBar-tab-valid .nBar-pop .form-group .from-vali{width: 70px;float: left;height: 30px;line-height: 30px;}
.nBar-tab-valid .nBar-pop .form-group img{vertical-align: middle;float: left;cursor: pointer;}

.nBar-tab-valid .nBar-pop .form-group .txt-blue{color: #06c;display: block;height: 35px;line-height: 35px;float:left;width: 45px;}


.nBar-tab-valid .nBar-pop .form-group .btn-block {width: 250px;height: 32px;line-height: 32px;text-align: center;color: #fff;background: #BC0D31;display: block; font-size:14px; font-weight:400px;}


/* end*/



/*二维码*/
.nBar-tab-qrcode{ bottom:80px}
.nBar-tab-qrcode .qrcode-logo{background-position:-100px 0;}



.nBar-tab-qrcode .nBar-pop{ top:-170px;		/*6*/display:none/* opacity:0; transition:all 0.5s; left:0px*/}
.nBar-tab-qrcode:hover .nBar-pop{display:block/*opacity:1; left:-152px*/ }

.nBar-tab-qrcode .qrcode-tip .pop-icon{ top:auto; bottom:10px;}





/* end*/

/*回到顶部*/
.nBar-tab-backtop{ bottom:40px}
.nBar-tab-backtop .backtop-logo{background-position:-120px 0;}
/* end*/





/*侧边栏 end*/




