/*顶部*/
.m_layout .nav{width:100%;height:1.84rem; line-height:1.84rem; background:#ff6600; font-size:0.68rem; text-align:center; color:white; position: relative; border-bottom:0.04rem solid #c95e10;}
.m_layout .nav .nav1{ position:absolute; top:0.26rem; left:0.98rem; border:0.04rem solid #e44e00; border-left:none; width:1.56rem;height:1.30rem; line-height:1.20rem; font-size:0.48rem; border-bottom-right-radius:0.2rem;border-top-right-radius:0.2rem; text-align:left; text-indent:0.1rem ; }
.m_layout .nav .nav1 span{width:0.66rem;height:1.3rem; display:block; position:absolute; left:-0.6rem; top:-0.02rem; background:url(../images/mainIcon.png) no-repeat -0.02rem -6.53rem; background-size:3.2rem 12.14rem;}
.m_layout .nav .nav1 a{ color:white; display:block; width:100%; height:100%}
.m_layout .nav .nav2{ position:absolute; top:0.22rem; right:0.26rem; border:0.02rem solid #e44e00; width:1.56rem;height:1.36rem; line-height:1.36rem; font-size:0.48rem; border-radius:0.2rem; text-align:center;}
.m_layout .nav .nav2 i{ font-size:0.78rem;}
.m_layout .nav .nav2 a{ color:white; display:block; width:100%; height:100%}
/*中部*/
.m_layout .inputmain{ width:100%; height:9.68rem; background:#f4f4f4; padding: 0 0.84rem; position:relative;  }
.m_layout .inputmain .input1{width:13.32rem; height:1.82rem; box-sizing:border-box; border:0.02rem solid #e4e4e4; margin-top:0.8rem; border-radius:0.16rem; padding-left:1.28rem; font-size:0.6rem; color:#bbb;}
.m_layout .inputmain .input3{ position:absolute; left:1.1rem;top:1.2rem; display:block; color:#666; font-size:0.9rem;}
.m_layout .inputmain .input2{width:13.32rem; height:1.82rem; text-align:center; line-height:1.82rem;color:white; background:#ddd; font-size:0.72rem;  margin-top:0.4rem; box-sizing:border-box; border:0.02rem solid #c95e10; border-radius:0.16rem; cursor:pointer; margin-bottom:0.3rem;}

.m_layout .inputmain b{ display:inline-block; height:0.74rem;width:0.74rem;margin-right:0.30rem;  position:relative; top:0.1rem; left:0.2rem;  border: 1px solid #bbb; border-radius:0.06rem;}
.m_layout .inputmain span{ font-size:0.56rem;color:#999;}
.m_layout .inputmain span a{color:#22aaff;} 


/*footer*/


footer ul{ border-bottom:0.06rem solid #e4e4e4; border-top:0.06rem solid #e4e4e4; width:100%; height:1.36rem; box-sizing:border-box}
footer ul li{ font-size:0.46rem; float:left; width:25%; text-align:center;height:1.30rem; line-height:1.30rem; border-right:0.06rem solid #e4e4e4; box-sizing:border-box; }
footer ul:first-child{border-left:0.06rem solid #e4e4e4;}
footer ul li a{ display:inline-block; width:100%; height:100%;color:#343434;}

footer p{ margin:0.6rem auto ; width:100%; text-align:center; height:0.48rem; line-height:0.48rem; }
footer p .footer_txt{ width:20%; font-size:0.48rem; color:#999; text-align:center; display: inline-block;}
footer h6{ font-size:0.52rem; font-weight:normal; width:100%; text-align:center; }
footer h6 b{color:#ff6600}
footer h5{ font-size:0.24rem; font-weight:normal; width:100%;  height:0.5rem; text-align:center; }