<div class="register">
<div class="register_m">

    <div class="register_m_u">
        <h4>注册</h4>
        <form action="#" name="myForm" novalidate id="myform">
            <div class="form-group">

                <input class="form-control"
                       type="text" name="user" ng-model="user" required ng-pattern="/^1[3578][0-9]{9}$/" placeholder="请输入您的手机号码">
                <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                          <span ng-show="myForm.user.$error.required">您输入的的号码不能为空!</span>
                          <span ng-show="myForm.user.$error.pattern">您输入的的号码错误请检查!</span>
                </span>
            </div>


            <div class="form-group">

                <input class="form-control" style="width: 55%;float: left"
                       type="text" name="user1" ng-model="user1" required  placeholder="输入验证码" ng-minlength="6">
                <input class="form-control" type="button" style="width: 42%;margin-left: 3%;float: left;background:#f6fafb;" value="已发送，60秒后重发" >
                <span style="color:red" ng-show="myForm.user1.$dirty && myForm.user1.$invalid">
                          <span ng-show="myForm.user1.$error.required">您输入的的验证码不能为空!</span>
                          <span ng-show="myForm.user1.$error.minlength">请输入6位验证码</span>
                </span>
            </div>


            <div class="form-group">
                <input type="password" class="form-control"  placeholder="请输入密码，不少于6位"  name="psd1"  ng-model="psd1"
                        required ng-minlength="6">
                <span style="color:red" ng-show="myForm.psd1.$dirty && myForm.psd1.$invalid">
                          <span ng-show="myForm.psd1.$error.required">您输入的的密码不能为空！</span>
                          <span ng-show="myForm.psd1.$error.minlength">请输入大于6位的密码！</span>
                </span>
            </div>

            <div class="form-group">
                <input type="password" class="form-control"  placeholder="请再次输入密码"  name="psd2"  ng-model="psd2">
                <span style="color:red" ng-show="myForm.psd2.$dirty &&psd1!=psd2">
                         两次密码不一致！
                </span>
            </div>



            <button type="button" class="btn btn-default btn-block"
                    ng-class="{'disabled':myForm.$invalid || psd1!=psd2||check==false}" style="background:#2ade73;height: 40px; color:#fff" ng-click="res(myForm.$invalid || psd1!=psd2||check==false)"

            id="submit"
            >注册</button>
            <div class="checkbox">
                        <label>
                            <input type="checkbox" id="checkbox" ng-model="check"> <a href="javascript:;"> 同意《全民创造用户协议》</a>

                        </label>
             </div>


        </form>



          <div class="r_txt">
              <i></i>
             <span>第三方登录</span>
              <i></i>

          </div>

         <div class="th3">
           <div class="th3r">
               <img src="image/weixin.jpg" height="22" width="27"/></div>
             <div class="th3r">
                 <img src="image/qq.jpg" height="22" width="27"/>
             </div>
             <div class="th3r">
                 <img src="image/xinlang.jpg" height="22" width="27"/>
             </div>


         </div>










    </div>
    <div class="register_m_d">
        已有账户<a href="javascript:;">登录</a>



    </div>



</div>


</div>