
<ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear">
        <i class="ion-arrow-left-c"></i> 返回
    </ion-nav-back-button>
</ion-nav-bar>





<!--<ion-nav-view name="tabs"></ion-nav-view>-->





<ion-tabs class="tabs-positive tabs-icon-top">

    <ion-tab title="优客推荐" icon-on="ion-ios-world" icon-off="ion-ios-world-outline" ui-sref="tabs.home">
        <ion-nav-view name="tabs-home"></ion-nav-view>
    </ion-tab>

    <ion-tab title="优客要闻" icon-on="ion-social-pinterest" icon-off="ion-social-pinterest-outline" ui-sref="tabs.about">
        <!-- 标签 2 内容 -->  <ion-nav-view name="tabs-about"></ion-nav-view>
    </ion-tab>

    <ion-tab title="优客汽车" icon-on="ion-android-car" icon-off="ion-model-s" ui-sref="tabs.set">
        <!-- 标签 3 内容 -->  <ion-nav-view name="tabs-set"></ion-nav-view>
    </ion-tab>

</ion-tabs>

